.btn-card-detail {
    @include styleText($fs-3, $fw-2, $clr-white-1);
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: $clr-pink-1;
    border: none;
    padding: $fs-2 0;


    &:hover {
        color: $clr-black-1;
    }

    &:focus {
        outline: none;
    }
}

.btn-card-cart {
    @extend .btn-card-detail;
    border-right: solid 1px $clr-white-1;
    // display: none;
}

.qty_content {
    @include styleText($fs-5, $fw-2, $clr-black-1);
    flex: 50%;
    line-height: 2.0;
}

.qty_plus {
    float: right;
}

.qty_minus {
    float: left;
}

.qty_minus,
.qty_plus {
    text-align: center;
    width: 35px;
    height: 100%;
    line-height: 2.0;

    &:hover {
        cursor: pointer;
        background-color: $clr-pink-1;
        color: $clr-white-1;
    }
}

.inactive {
    display: none;
}